.vscode
**/build
cp_plugin.sh

zenoh-ts/dist
zenoh-ts/node_modules
zenoh-ts/package-lock.json
zenoh-ts/examples/node/src/index.js
zenoh-ts/examples/web/src/index.js
zenoh-ts/cjs/
zenoh-ts/esm/

zenoh-plugin-remote-api/target/** 
**/target/** 